{% extends 'base.html' %}
{% block title %}Episodes &mdash; {{ title.primary_title }}{% endblock %}
{% block content %}
<a class="crumb" href="{{ url_for('title_detail', tt_id=title.tt_id) }}">&lsaquo; {{ title.primary_title }} ({{ title.year }})</a>
<h1>Episode guide &mdash; {{ title.primary_title }}</h1>
{% if title.poster_path %}
<img class="title-poster" src="{{ url_for('static', filename='images/' ~ title.poster_path) }}" alt="" style="max-width:160px">
{% endif %}
{% set seasons = episodes|map(attribute='season')|list|unique %}
{% for s in seasons %}
<h2>Season {{ s }}</h2>
<ol>
  {% for ep in episodes if ep.season == s %}
  <li>{{ ep.title }}</li>
  {% endfor %}
</ol>
{% endfor %}
{% endblock %}
