<div class="search-bar-row">
    <form class="search-bar" method="GET" action="{{ url_for('search') }}">
        <button type="button" class="icon-btn" title="Menu"><span class="material-icons-outlined">menu</span></button>
        <input type="text" name="q" placeholder="Search Google Maps" value="{{ search_value|default('') }}">
        <button type="submit" class="icon-btn" title="Search"><span class="material-icons-outlined">search</span></button>
        <a href="{{ url_for('directions', to=place.name) if place is defined and place else url_for('directions') }}" class="icon-btn directions" title="Directions"><span class="material-icons-outlined">directions</span></a>
    </form>
</div>
