{% extends "base.html" %}
{% block title %}About | {{ site_name }}{% endblock %}
{% block content %}
<div class="page single">
  <div class="main" style="max-width:760px; margin:30px auto;">
    <h1>Welcome to BoardGameGeek</h1>
    <p>BoardGameGeek is an online resource and community that aims to be the definitive source for board game and card game content. The site is updated on a real-time basis by its large and still growing user base — more than two million registered users — making the Geek the largest and most up-to-date place to get gaming information.</p>
    <p>BGG features reviews, ratings, images, play-aids, translations, and session reports from board game geeks around the world, as well as live discussion forums. In addition, every day nearly a hundred game trades pass through the hands of registered members, as well as transactions in the Geek Market.</p>
    <h3>What kind of games are here?</h3>
    <p>You'll find many types of board games, including thousands you've probably never seen in a store — dice games, card games, tile-laying games, games of dexterity, abstracts, economic games, dungeon crawls, city building, diplomacy and negotiation, trading, puzzle games, strategy games, party games, war games, and many more. We run the gamut from the light and whimsical Carcassonne to the serious and heavy empire-building of Twilight Imperium: Fourth Edition.</p>
    <h3>Why should I register?</h3>
    <p>To fully use many of the site's features, you'll need a username. BGG registration is free. After you register you can add a game to the database, contribute images, post in the forums, log plays, and trade games in the Geek Market.</p>
  </div>
</div>
{% endblock %}
