{% extends "base.html" %}
{% block title %}Page not found &middot; {{ site_title }}{% endblock %}
{% block content %}
<div class="error-page">
  <h1>Page not found</h1>
  <p>The page you requested couldn't be found. Try one of these instead:</p>
  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('simulations') }}">All simulations</a></li>
    <li><a href="{{ url_for('teachers') }}">For teachers</a></li>
    <li><a href="{{ url_for('search') }}">Search</a></li>
  </ul>
</div>
{% endblock %}
